@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

:root{
    --background-color: #333637;
    --pink-color: #F87652;
    --secondary-color: #bbbbbb;
    --bg-color-of-list-in-skill: #81818180;
}

*{
    font-family: 'Poppins', sans-serif;
}

/*Button*/
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-52:after {
    content: "";
    background-color: var(--pink-color);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52 {
      padding: 13px 50px 13px;
    }
  }

/*button*/







body {
background-color: var(--background-color) !important;
}

h1, h2, h3, h4, h5, h6, p, span, td, a{
    cursor: pointer;
}

canvas.particles-js-canvas-el {
    position: absolute;
    height: 100% !important;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1000;
    margin: 0px;
}

/* navbar */

.nav_section .navbar-brand{
    font-size: 22px;
}
.nav_section .navbar-brand span{
    color: var(--pink-color)
}
.nav_section .navbar-nav li{
    margin: 0px 8px
}

.nav_section .navbar-nav li a{
  color: white !important;
  font-size: 15px;
}
.nav_section .navbar-nav .nav-link::before{
   content: '';  
   width: 100px;
   height: 0px;
   background-color: white;
   position: absolute;
   bottom: 7px;
   transition: 0.5s ;
}


.hero-section .row{
    display: flex;
    align-items: center;
    height: 100vh;
}
.hero-section .row h1,h2,h3,p{
    color: white;
}

.hero-section .row h3{
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
}

.hero-section .row h3::after{
    content: '';
    position: absolute;
    text-align: center;
    top: 10px;
    width: 90px;
    height: 2px;
    background-color: white;
    margin-left: 6px;
}

.hero-section .row h2{
    font-size: 20px;
    font-weight: 100;
    margin: 8px 0px;
}

.hero-section .row p{
    font-size: 13px;
    margin-top: 13px;
    line-height: 21px;
    color:var(--secondary-color);
}

.hero-section .row button{
    border-radius: 10px;
    font-size: 19px;
    color: white;
    background-color: var(--pink-color);
    border: 3px solid var(--pink-color);
    width: 113px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.hero-section .row button:hover{
  animation: swing;
  animation-duration: 0.5s;
  background-color: white;
  color: black;
  border-color: white;
}


.hero-section .row img{
    width: 50%;
    border-radius: 50%;
}

@media(max-width: 1200px) and (min-width: 993px){
    .hero-section .row h1{
        font-size: 58px;
    }
}


@media(max-width: 993px) and (min-width: 763px){
    .hero-section .row h1{
        font-size: 42px;
    }
    .hero-section .row h2{
        font-size: 15px;
    }
    .hero-section .row p{
        font-size: 11px;
    }
    .hero-section .row h3{
        font-size: 15px;
    }
    .hero-section .row button{
        font-size: 15px;
    }
}


@media(max-width: 763px) and (min-width: 500px){
    .hero-section{
        margin: 135px 0px;
    }
    .hero-section .row h1{
        font-size: 46px;
        text-align: center;
    }
    .hero-section .row h2{
        font-size: 15px;
        text-align: center;
    }
    .hero-section .row p{
        font-size: 11px;
        text-align: center;
    }
    .hero-section .btn_container{
        justify-content: center;
        text-align: center;

    }
    .hero-section .row h3{
        font-size: 18px;
        text-align: center;
        margin: 0px;
    }
    .hero-section .row h3::after{
        width: 0px;
    }
    .hero-section .btn_container button{
        font-size: 15px;
        width: 100px;
        height: 43px;
        text-align: center;
    }
    .hero-section img{
        width: 60%;
        margin-top: 20px;
    }
}

/* About Section */

.about_section{

    padding: 170px 0px;
  }

.about_section #heading{
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
    line-height: 57px;
}

.about_section .lets_intro{
    color: white;
    font-weight: 400;
    margin-top: 14px;
}

.about_section #info_gmail{
    font-weight: 600;
    font-size: 15px;
    color: var(--pink-color);
    margin-top: 35px;
    word-spacing: 6px;
}

.about_section .contact_info{
    margin-top: 15px;
}

.about_section .contact_info h5{
    color:white;
    font-size: 15px;
    font-weight: 400;
    word-spacing: 6px;
}

.about_section .about_me_right_section #txt
{
    font-size: 15px;
    margin-top: 13px;
    line-height: 25px;
}

.about_section .about_me_right_section hr{
   margin: 0px;
   border:0.5px solid var(--pink-color);
   width: 6rem;
}

.about_section .about_me_right_section table td{
    border: none;
    color: white;
    font-size: 13px;
}

.about_section .about_me_right_section button{
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background-color: var(--pink-color);
    border: 3px solid var(--pink-color);
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.about_section .about_me_right_section button:hover{
    animation: swing;
    animation-duration: 0.5s;
    background-color: white;
    color: black;
    border-color: white;
  }
  @media(max-width: 993px) and (min-width: 768px){
    .about_section .about_me_right_section #txt{
        font-size: 12px;
    }
    .about_section #heading{
        font-size: 28px !important
    }
}


/* Skill Section */

.skill_section{
    padding: 170px 0px;
  }
.skill_left_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill_section #heading{
    font-weight: 600;
    font-size: 50px;
}

.skill_section hr{
    border:0.5px solid var(--pink-color);
    width: 8rem;
    margin: 12px 0px;
 }
 .skill_section p{
     color: white;
     font-size: 15px;
 }

 .skill_section .social_media_icon .list-group-item{
   border: none;
   color: white;
   border-left: 4px solid var(--pink-color);
   border-radius: 0px;
   margin: 5px 0px;
   width: 208px;
   background: var(--bg-color-of-list-in-skill);
   font-size: 14px;
 }

 .skill_section .social_media_icon .list-group-item a{
   transition: 0.5s;
 }

 .skill_section .social_media_icon .list-group-item:hover a{
     margin-left: 10px;
 }
 .skill_right_section .each_skills{
     margin: 25px 0px;
 }
 .skill_right_section .each_skills span{
     color: white;
     font-size: 14px;
 }
 .skill_right_section .each_skills .progress{
     background: var(--bg-color-of-list-in-skill);
     border-radius: 100px;
     margin-top: 3px;
     height: 10px;
 }
 .skill_right_section .each_skills .progress-bar{
     background-color: var(--pink-color) !important;
     color: transparent;
 }

 /* Project Section */

.project_section{
    padding: 170px 0px;
  }
  .project_section #heading{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

.project_section .nav-tabs{
    border: none;
    width: 30%;
    text-align: center;

}

.project_section .nav-tabs .nav-link.active{
    border: none;
    color: white;
    border-bottom: 2px solid var(--pink-color) !important;
    background: transparent;
}

.project_section .nav-tabs .nav-link.active:hover{
    border-bottom: 2px solid var(--pink-color) !important;
}

.project_section .nav-tabs .nav-item.show .nav-link{
    font-weight: 400;
    font-size: 14px;
    background: transparent !important;
}

.project_section .nav-tabs .nav-link:hover{
   border:none
}

.project_section .tab-content .card img{
    border:2px solid white;
}


/* Blog Section */

.blog_section{
    padding: 170px 0px;
    text-align: center;
  }

  .blog_section .card{
      background-color: #232432;
  }
  .blog_section .card:hover{
   animation: pulse;
   animation-duration: 0.5s;
  }
  .blog_section .card-body .title{
  font-size: 22px;
  font-weight: 500;
  }

  .blog_section .card-body .date{
  font-size: 11px;
  }

  .blog_section .card-body .date span{
   color:var(--pink-color)
  }

  .blog_section .card-body .txt{
   font-size: 12px;
   color:var(--secondary-color)
  }

  .blog_section .card-body a{
   color: var(--pink-color);
   font-size: 13px;
  }


  /* Contact Section */

.contact_section{
    padding: 170px 0px;

  }

  .contact_section hr{
    margin: 12px 0px;
    border:0.5px solid var(--pink-color);
    width: 6rem;
  }

  .contact_section .txt{
  color: white;
  font-size: 13px;
  }

  .contact_section form .form-control{
      background: white;
      border: 2px solid #232432;
      border-radius: 0px;
      color:white
  }

  .contact_section form button{
      background: var(--pink-color);
      border: 2px solid var(--pink-color);
      color:white;
      width: 100px;
      font-size: 15px;
  }

  .contact_section form button:hover{
      animation: swing;
      animation-duration: 0.5s;
  }

  .contact_section ul li{
      color: white;
      font-size: 15px;
      margin-bottom: 12px;
  }

.contact_section ul li .fa{
    color: var(--pink-color)
}

@media(max-width: 991px) and (min-width:768px){
    .contact_section .heading{
        font-size: 42px;
    }
}

/*Footer*/

.footer-area{
    border-top:2px solid #232432 ;
    padding: 40px 0px;
}

.footer-area .navbar-brand{
    font-size: 23px;
}

.footer-area p{
  margin-top: 13px;
  color:white;
  font-size: 12px;
}

.footer-area .logo-area .fa{
    color:var(--pink-color);
    font-size: 17px !important;
    border: 2px solid (--pink-color);
    padding: 10px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 5px;
}

.footer-area .logo-area .fa:hover{
    animation: swing;
    animation-duration: 0.5s;
    background: white;
}

.footer-area .row .column .heading{
    font-weight: 400 !important;
    font-size: 21px ;
    color: white;
}

.footer-area .list-group .list-group-item{
    margin: -3px 0px;
    color: #fff;
    transition: 0.5s !important
}

.footer-area .list-group .list-group-item:hover i{
 padding-right: 10px;
}

.footer-area .list-group .list-group-item i{
  font-size: 10px;
  color: var(--pink-color);
  transition: 0.5s;
}

@media (max-width: 767px) and (min-width:500px){
  .footer-area .links{
      margin-bottom: 30px;
  }
  .footer-area .row .column .heading{
      font-size: 17px !important;
  }
  .project_section .list-group{
      margin-bottom: 30px;
  }
  .project_section .list-group .list-group-item{
     font-size: 13px;     
  }
}